form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.terminal {
    user-select: none;
    position: absolute;
    height: 220px;
    width: 500px;
    left: 225px;
    resize: none;
    font: 11px "Courier New"
}

.output {
    user-select: none;
    position: absolute;
    height: 220px;
    width: 400px;
    left: 740px;
    resize: none;
    font: 18px "Courier New"
}