form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.terminal {
    user-select: none;
    position: absolute;
    height: 220px;
    width: 415px;
    left: 225px;
    resize: none;
    font: 12px "Courier New"
}

.output {
    user-select: none;
    position: absolute;
    height: 220px;
    width: 415px;
    left: 655px;
    resize: none;
    font: 19px "Courier New"
}